@page "/pr25/pr25"

<p @onmousemove="@MouseMove">Tağmaç</p>
<h3>@Cordinates</h3>
<br/><br/>
<p @onmouseover="@MouseOver" @onmouseout="MouseOut">Oktar</p>
<h3>@strOver</h3>
<br/><br/>
<p @onmousedown="@MouseDown" @onmouseup="@MouseUp">Han</p>
<h3>@strDownUp</h3>
<br/><br/>